body {
    background-image: url("wp.jpg");
    background-size: cover; 
    background-position: center; 
}

p.style{
    color: black;
    font-family:monospace;
    font-size: 20;
    display: flex; 
}

.style2{
    color: white;
    font-family: cursive;
    font-size: 30;
    text-align: center;
}

.container {
    display: flex;
    margin: 5px;
    justify-content: center; 
    align-items: center;
    height: 80vh; 
}

.style {
    margin: 0; 
    display: flex; 
    align-items: center; 
}

.style input {
    width: 200px; 
    height: 30px; 
    margin-right: 10px; 
}

.style img {
    width: 50px; 
    height: auto;
}

#img2 {
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
}

#img2:hover {
    opacity: 0.7;
}